
@{
    ViewData["Title"] = "UserData Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <td><input type="button" value="Announcements" class="btn btn-default" onclick="userData(0)" /></td>
        <td><input type="button" value="Contributions" class="btn btn-default" onclick="userData(1)" /></td>
        <td><input type="button" value="Invoice electro" class="btn btn-default" onclick="userData(2)" /></td>
        <td><input type="button" value="Invoice gaz" class="btn btn-default" onclick="userData(3)" /></td>
        <td><input type="button" value="Invoice services" class="btn btn-default" onclick="userData(4)" /></td>
        <td><input type="button" value="Invoice tel" class="btn btn-default" onclick="userData(5)" /></td>
        <td><input type="button" value="Invoice waters" class="btn btn-default" onclick="userData(6)" /></td>
    </tr>
</table>
<div id="userdatadisplay">
</div>